.container {
  padding: 20px;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.remove {
  color: red;
  cursor: pointer;
}

.remove:hover {
  text-decoration: underline;
}

.remove:active {
  opacity: 0.5;
}

.list-item {
  margin-top: 10px;
}

.no-data {
  margin-top: 10px;
  color: rgba(0,0,0,0.35);
}